*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    .logo-header{
        display: flex;
        justify-content: center;
        img{
            object-fit: cover;
            width: 200px;
            height: 200px;
        }
    }
    .navbar-container{
        font-size: 20px;
        .container{
            .navbar-nav{
                .nav-item{
                    margin: auto 10px;
                    .nav-link{
                        border-bottom: 2px solid transparent;
                        transition: .3s;
                        font-weight: 600;
                    }
                    .nav-link:hover{
                        border-bottom: 2px solid black;
                        transition: .3s;
                    }
                }
            }
        }
    }
}
.portada{
    width: 100%;
    height: 300px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.boton-inscribirse{
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
        --c:  #000ba5; /* the color*/
        
        box-shadow: 0 0 0 .1em inset var(--c); 
        --_g: linear-gradient(var(--c) 0 0) no-repeat;
        background: 
          var(--_g) calc(var(--_p,0%) - 100%) 0%,
          var(--_g) calc(200% - var(--_p,0%)) 0%,
          var(--_g) calc(var(--_p,0%) - 100%) 100%,
          var(--_g) calc(200% - var(--_p,0%)) 100%;
        background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
        outline-offset: .1em;
        transition: background-size .4s, background-position 0s .4s;
        font-family: system-ui, sans-serif;
        font-size: 1.5rem;
        cursor: pointer;
        padding: .1em .6em;
        font-weight: bold;  
        border: none;
      }
      button:hover {
        --_p: 100%;
        transition: background-position .4s, background-size 0s;
      }
      button:active {
        box-shadow: 0 0 9e9q inset #0009; 
        background-color: var(--c);
        color: #fff;
      }
}
.distancias{
    display: flex;
    justify-content: space-around;
    .caja-distancias{
        height: 350px;
        width: 600px;
        margin-left: 50px;
        margin-right: 50px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .6;
        }
        .texto-supersprint{
            position: absolute;
            top: 50px;
            right: 20px;
            h3{
                color: #000655;
                font-size: 30px;
                text-transform: uppercase;
                text-align: center;
            }
            p{
                font-size: 23px;
                text-align: center;
            }
        }
    }
}
.redes-sociales{
    height: 100px;
    background-color: #000655;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .iconos-redes-sociales{
        color: white;
        display: flex;
        justify-content: space-between;
        width: 20%;
        a{
            color: white;
        }
        a:hover{
            color: #e2e2e2;
        }
    }
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    .imagenes{
        display: flex;
        justify-content: space-between;
        .imagenes-item{
            width: 400px;
            height: 500px;
            margin: 30px;
            text-align: center;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.form-container{
    margin: 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        margin-bottom: 20px;
    }
    .form{
        .mb-3{
            .form-control{
                width: 500px;
            }
        }
    }
}
.footer{
    height: 100px;
    background-color: #000655;
    color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}


//mobile
@media (max-width: 450px) {
    .distancias{
        display: flex;
        flex-direction: column;
        align-items: center;
        .caja-distancias{
            width: 80%;
            position: relative;
            padding: 10px;
            .texto-supersprint{
                h3{
                    font-size: 30px;
                }
                p{
                    font-size: 23px;
                }
            }
        }
    }
    .redes-sociales{
        height: 50px;
        .iconos-redes-sociales{
            align-items: center;
            a{
                i{
                    margin-left: 25px;
                }
            }
        }
    }
    .info{
        margin: 20px;
        .imagenes{
            display: flex;
            flex-direction: column;
            align-items: center;
            .imagenes-item{
                width: 100%;
                text-align: center;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .form-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        form{
            padding: 20px;
            h3{
                font-size: 1.1em;
            }
            .mb-3{
                .form-control{
                    font-size: .9em;
                    width: 300px;
                }
            }
            button{
                font-size: .9em;
            }
        }
    }
}